.App {
  margin: 40px auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

button {
  background: none;
  border: 2px solid #fff;
  padding: 6px 12px;
  border-radius: 4px;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  font-weight: bold;
  user-select: none;
}

button:hover {
  background-color: #c23866;
  color: #fff;
}

.card-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  user-select: none;
}


@media (min-width: 1250px) {
  .card-grid {
    grid-template-columns: repeat(6, 1fr);
  }
  .card img {
    width: 180px;
  }
}


@media (max-width: 600px) {
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .card img {
    width: 100px;
    height: 125px;
  }
}
